{% extends "layout.html" %}

{% block page_title %}
  Terms of use rejected
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner_beta.html" %}
	<a href="identity-verified" class="link-back">Back</a>
	<div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Terms of use rejected</h1>
      <p>You can still sign a paper mortgage deed.</p>
      <p>Ask the conveyancer dealing with your mortgage application for a paper mortgage deed to sign.</p>
      <!--<a href="identity-verified" class="link-back">Back</a>-->
    </div>
	</div>
</main>


{% endblock %}

{% block body_end %}
  {{ super() }}
  {% include "dialogs/all.html" %}
{% endblock %}
