{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="phase-banner">
      <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
      </p>
      </div>

      <h1 class="heading-large">
        Report your stolen bike</h1>

      <p class="lede">Use this service to report your stolen bike to the police.</p>

      <p>You will need to provide the following:
        <ul class="list list-bullet">
          <li>bike details</li>
          <li>contact information</li>
          <li>times and location of crime</li>
        </ul>
      </p>

    </div>
  </div>

  <a class="button button-start" href="02.html" role="button">Start now</a>
</main>

{% endblock %}
