{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="phase-banner">
      <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
      </p>
      </div>

      <!-- <h1 class="heading-large">
        Report your stolen bike</h1> -->

        <div class="govuk-box-highlight">
                  <h1 class="heading-xlarge">
                    Report complete
                  </h1>
                  <p class="font-large">
                    Your police reference number is <br>
                    <strong class="bold">PL5-RJG-1928374</strong>
                  </p>
                </div>

                <!-- <p>You have completed this service.
                </p> -->
              
                <p>
                  We have sent a copy of the police reference number
                  to your preferred method of contact.
                </p>

                <p>Your local police department will contact you within the next two days, to clarify that the information you have provided is correct. They will ask for your reference number, so ensure that you have this ready.
                  If you wish to claim on your insurance, contact your provider, and notify them of the police reference number.
                </p>

                <p>You can now exit this service.
                </p>

                <!-- <details> -->

                <!-- <summary><span class="summary">What happens next?</span></summary>

                <div class="panel panel-border-narrow">

                <p>
                Your local police department will contact you within the next two days,
                to clarify that the information you have provided is correct. They
                will ask for your reference number, so ensure that you have this ready.
                </p>

                <p>
                 If you wish to claim on your insurance, contact your provider, and notify
                 them of the police reference number.
               </p> -->

                </div>

                </details>


    </div>
  </div>

  <!-- <form action="07.html">
  <input class="button" type="submit" value="Exit"> -->

</main>

{% endblock %}
