{% extends "layout.html" %}

{% block page_title %}
  Unable to find matching mortgage deed
{% endblock %}

{% block content %}

<main id="content" role="main">
	<a href="identity-verified" class="link-back">Back</a>
	<div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Sorry, you can't sign your mortgage deed online</h1>
      <p>We've verified your identity, but haven't been able to match your details with a mortgage deed held by HM Land Registry.</p>
      <h2 class="heading-medium">What do I do next?</h2>
      <p>You'll need to tell Samual Montagu & Co. that HM Land Registry hasn't been able to match your details to a digital 
	 mortgage deed. Samual Montagu & Co. may ask you to sign a paper mortgage deed instead. 	    
      <p>If other people are borrowing money with you, they'll also need to sign a paper mortgage deed.</p>
      <h2 class="heading-medium">Can I still use Verify?</h2>
      <p>You do not need to re-register with Verify.</p>
      <p>Even though you haven't been able to use this online service, you'll still be able to access other government services with your
	 GOV.UK Verify account.</p>
      <!--<a href="identity-verified" class="link-back">Back</a>-->
    </div>
	</div>
</main>


{% endblock %}

{% block body_end %}
  {{ super() }}
  {% include "dialogs/all.html" %}
{% endblock %}
